*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #BE95C4;
}

.heading{
    text-align: center;
    background-color: #231942;
    color: #fff;
    line-height: 6rem;
    font-size: 2rem;
    font-weight: 900;

}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.pic{
    height: 15rem;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;
    
}

img{
    width:10rem ;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    width: 50%; /* Adjust width as needed */
    margin: 0 auto; /* Center the board horizontally */
}

.logo-btn{
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.logo-btn:hover{
    transform: scale(1.2); 
    /* border: 4px solid rgba(0, 0, 0, 0.658); */
}

.img:active{
 border: 2px solid black;
}

.points{
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points span {
    font-size: 2.5rem;
    margin-left: 0.5rem; /* Adjust spacing between the text and the score */
    padding: 0 1.5rem;
}

.msg-box {
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem auto; /* Center the msg-box horizontally */
    background-color: #231942;
    display: inline-block; /* Allows the background to wrap around the text */
    color: white; /* Ensure the text color contrasts with the background */
    padding: 0.5rem 1rem; /* Add padding to make the background more visible */
    border-radius: 5px; /* Optional: rounded corners */
}


.msg-box p{
    padding: 0 1rem;
}

.last-msg{
    display: flex;
    justify-content: center;
    align-items: center;
}